<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="..//css/css_application_3.css" rel="stylesheet" type="text/css">

    <title>Application (3)</title>
</head>

<body>
    <div class="center">
        <ul>
            <li><a href="start_page.html">Home</a></li>
            <li><a href="create_account.html"> Create Account </a></li>
            <li><a href="loginpage.html"> Login </a></li>
            <li><a href="Project About Us Page 2.html"> Mission Requirements </a></li>
            <li><a href="Project About us Page 3.html"> Stat Info </a></li>
            <li><a href="videopage.html"> Videos </a></li>
            <li><a href="Project About us Page 1.html"> About Us </a></li>
            <li><a href="Project About Us Page 4.html"> Contact </a></li>
            <li><a href ="application_1.html"> Application </a></li>

        </ul>
    </div>
    <div class="header">
        <h2> Application (3 of 3) </h2>
        <h4> <i>This is the essay portion of the application. </i> </h4>
    </div>
    <div class="parent">
        <form action="..//components/thank_you_page.html" method="POST" class="form">
            <div class=box>
                <label for="essay1"> Describe an experience in which you demonstrated leadership within a team or work
                    setting. (3000 characters or less) </label> <br>
                <textarea maxlength="3000" ; id="essay1" ; name="essay1" ; rows="7" ; cols="170"
                    ;>Enter description here.</textarea>
                <br>
            </div>
            <div class=box>
                <label for="essay2"> If you were chosen, what are some hopes and goals you wish to strive for? What does
                    space travel mean to you? (3000 characters or less) </label> <br>
                <textarea id="essay2" ; name="essay2" ; rows="7" ; cols="170" ;>Enter description here.</textarea>
                <br>
            </div>
            <div class=box>
                <label for="essay3"> Why should we choose you for the Mars Space Mission? (3000 characters or less)
                </label>
                <br>
                <textarea id="essay3" ; name="essay3" ; rows="7" ; cols="170" ;>Enter description here.</textarea>
                <br>
            </div>
            <div class="center">
                <input type="submit">
            </div>

        </form>
    </div>

    <footer>
        <p> <cite>Background image source: <a href = "https://images.squarespace-cdn.com/content/v1/5923b7f246c3c49b332b4979/1556845612068-UWMU52CQZ5QYLZLT9UAX/ke17ZwdGBToddI8pDm48kCNuFgHZpNbB9Od0nOc9CQ57gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1Ufk7xsn95e0PmxrU573ZgCqNR1szC4S7L6sQEZZcqJ76h4wEndT9yoXeK5CPlsnUNQ/Mars_Planet_from_Space_1680x1050.jpg?format=2500w"> link.</a></p>

    </footer>

</body>

</html>