<!DOCTYPE html>
<html lanf="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="..//css/css_login_page.css" rel="stylesheet">
  <title> Login </title>
</head>

<body>
  <div class="full-screen">
    <video src="..//img/mars_background_vid_fix_2.mp4" ; autoplay muted loop></video>

    <div class="center">
      <ul>
        <li><a href="start_page.html">Home</a></li>
        <li><a href="create_account.html"> Create Account </a></li>
        <li><a href="loginpage.html"> Login </a></li>
        <li><a href="Project About Us Page 2.html"> Mission Requirements </a></li>
        <li><a href="Project About us Page 3.html"> Stat Info </a></li>
        <li><a href="videopage.html"> Videos </a></li>
        <li><a href="Project About us Page 1.html"> About Us </a></li>
        <li><a href="Project About Us Page 4.html"> Contact </a></li>
        <li><a href ="application_1.html"> Application </a></li>

      </ul>
    </div>


    <div class="box">
      <h2>Login Account</h2>
      <form action="..//components/application_1.html" ; method="post" class="form">

        <input type="text" placeholder="Enter Username" name="usname" required> <br><br>
        <input type="password" placeholder="Enter Password" name="password" required> <br><br>
        <input type="submit" value="Login">

      </form>
    </div>
  </div>

</body>

</html>