<!DOCTYPE html>

<html>

<head>

<link href="..//css/css_abtus_page3.css"; rel="stylesheet";>

</head>

<style> 

#table1{border:2px solid; border-radius: 7px; color: orange; width:50%}
th{border:1px solid; height:70px}
td{border:1px solid; text-align: center;}
tr:hover {background-color: grey;}

#table2{border:3px solid; border-radius: 7px; color: cyan; width:50%}

</style> 

<body>

<div class="full-screen">
		
		<img src="..//img/mars-atmosphere-horizon.jpg"> </img>
		
		
		<div class="center">
            <ul>
                <li><a href="start_page.html">Home</a></li>
                <li><a href="create_account.html"> Create Account </a></li>
                <li><a href="loginpage.html"> Login </a></li>
                <li><a href="Project About Us Page 2.html"> Mission Requirements </a></li>
                <li><a href="Project About us Page 3.html"> Stat Info </a></li>
                <li><a href="videopage.html"> Videos </a></li>
                <li><a href="Project About us Page 1.html"> About Us </a></li>
                <li><a href="Project About Us Page 4.html"> Contact </a></li>
				<li><a href ="application_1.html"> Application </a></li>


            </ul>
			<br>
		</div>
 
<h1> Modes of tranport / Trip information </h1>

<div class="transport">
		<h2 id="Trip information/Modes of tranport"> Modes of transport</h2>
		
		
			<table id="table1">
				
				<tr>
					<th>Rocket Designation</th>
					<th>Intensity of Travel</th>
					<th>Rocket Speed</th>
				</tr>
				
				<tr>
					<td>Ares</td>
					<td>Low</td>
					<td>23,000 mph</td>
				</tr>
				
				<tr>
					<td>Hermes</td>
					<td>Moderate</td>
					<td>24,000 mph</td>
				</tr>
				
				<tr>
					<td>Castor</td> 
					<td>High</td>
					<td>25,000 mph</td>
				</tr> 
			</table> <br>
</div>			
			<br>
<div class="tripinfo">			
			<h2 id="Trip information/Modes of tranport"> Trip Information </h2>
			
			
			<table id="table2">
				
				<tr>
					<th>Rocket Designation</th>
					<th>Travel Class</th>
					<th>Trip Cost</th>
				</tr>
				
				<tr>
					<td>Ares</td>
					<td>Third Class</td>
					<td>$60,000</td>
				</tr>
				
				<tr>
					<td>Hermes</td>
					<td>Second Class</td>
					<td>$90,000 </td>
				<tr>
				
				<tr>
					<td>Castor</td>
					<td>First Class</td>
					<td>$120,000</td>
				</tr> 
			
			</table> <br>
</div>			
			

</body>			
			
</html>	