<!DOCTYPE html>
<html>
	
	<head>

<link href="..//css/css_abtus_page1.css"; rel="stylesheet";>

</head>

<body>


<div class="full-screen">
		
		<img src="..//img/marspage2.png"> </img>
		
		
		<div class="center">
            <ul>
                <li><a href="start_page.html">Home</a></li>
                <li><a href="create_account.html"> Create Account </a></li>
                <li><a href="loginpage.html"> Login </a></li>
                <li><a href="Project About Us Page 2.html"> Mission Requirements </a></li>
                <li><a href="Project About us Page 3.html"> Stat Info </a></li>
                <li><a href="videopage.html"> Videos </a></li>
                <li><a href="Project About us Page 1.html"> About Us </a></li>
                <li><a href="Project About Us Page 4.html"> Contact </a></li>
				<li><a href ="application_1.html"> Application </a></li>


            </ul>
			<br>
		</div>
		
		<p> Welcome to <em> Mission: MARS </em>. Please see the following list to see multiple information pages about our program. </p>
		
		<a href="#About_us"> About Us: </a> <p>
		<a href="#Mission Statement"> Our Mission Statement </a> <p>
		<a href="#Contactus"> Contact Us! </a> 
		
		
		<h2 id="About_us"> About Us: </h2>
		
		
		<p>We are a privately funded corporation with about 10 years of business under our belts, and a flawless safety record. Our space projects have <br>been in development for a long time, and we are happy to present our technologies to our customers, and to share our plan for visits to Mars! <br> We will be offering an array of luxury trips to the red planet for any who meet the safety regulations. We are pushing hard for the potential <br> colonization of our closest neighbor in the solar system, but safety of our customers and crew is our number one priority! </p> 
		
		
		<h2 id="Mission Statement"> Our Mission: </h2>
		 
		<p> As our founder once said, "Space is the Next Frontier. It is our destiny to explore the universe around us, and it all starts with Mars!"</p>
		<cite> John Doe, 2020 </cite>
		
		<p> At Mission: MARS, our mission is to bring people to our closest neighbor in the solar system, and to begin a colony on Mars. Some of our main focuses are the trip and preparation of our astronaut crew for the voyage, as well as the training required beforehand. We are also heavily concerned with preparing our passengers for the voyage, as well as assuring they are treated to the best and most comforable trip possible! For now, there are rigourous requirements to be an astronaut in or program, but in time, it will open up to civilians who wish to visit the Red Planet! </p>
		
		
		
		
		
		<p>Here at Mission: MARS, we are pushing the boudaries of technology and human innovation to use the most advanced means to reach the red planet. Our astronauts go
		through rigourous training and mental/physical testing, so there are some requirements to join, but we encourage you to take a look at what our program has to offer! </p>
		
		<h3> Check out our Video! </h3>
		<video width="300" height="200" controls>
		<source class="video" src="project_video.mp4" type="video/mp4">
		</video>
		
		
		<h2 id="Contactus"> Contact Us! </h2>
		
		<div class= "contactus"> 
		<p>Phone: (123) 456-7890</p>
		<a href=“mailto:missionsupport@missionmars.org>Email:</a>
		</div>

		
	</body>
</html>