<!DOCTYPE html>
<html>

<head>

<link href="..//css/css_abtus_page4.css"; rel="stylesheet";>

</head>

<style>


</style>

	<body>
		
	<div class="full-screen">
		
		<img src="..//img/mars-atmosphere-horizon.jpg"> </img>
		
		
		<div class="center">
            <ul>
                <li><a href="start_page.html">Home</a></li>
                <li><a href="create_account.html"> Create Account </a></li>
                <li><a href="loginpage.html"> Login </a></li>
                <li><a href="Project About Us Page 2.html"> Mission Requirements </a></li>
                <li><a href="Project About us Page 3.html"> Stat Info </a></li>
                <li><a href="videopage.html"> Videos </a></li>
                <li><a href="Project About us Page 1.html"> About Us </a></li>
                <li><a href="Project About Us Page 4.html"> Contact </a></li>
				<li><a href ="application_1.html"> Application </a></li>


            </ul>
			<br>
		</div>
		
		<h1> Contact:</h1>
		
		<div class="Contacts">
		<h2> Contact Us! </h2>
		
		<p>Phone: (123) 456-7890</p>
		<a style="color:lightblue" href=“mailto:missionsupport@missionmars.org>Email:</a>
		<p> Or find us on:</p>
		<a style="color:lightblue" href=“http://www.facebook.com” target=“_blank”>Facebook</a> <br>
		<a style="color:lightblue" href=“http://www.twitter.com” target=“_blank”>Twitter</a> <br>
		<a style="color:lightblue" href=“http://www.instgram.com” target=“_blank”>Instagram</a> <br>
		</div>
		
		
		<div class="Ask">
		<form action="Inquiry" method="post">
		
		<h2> Ask Us a Question!: </h2>
		
		<label for="username"> Name: </label> <br>
		<input id="username" type="text" name="username" placeholder="Your name:"><br>
		<br>
		
		
		<label for="email"> Your Email address: </label> <br>
		<input id="email" type="text" name="email" placeholder="Your Email:"><br>
		<br>
		
		
		<label for="describe"> Ask us a question! </label> <br>
		<br>
		<textarea id="describe" name="describe" rows="15" cols="60"> What would you like to know?</textarea>
		<br>
		
		<br>
		<input type="submit" name="submit" class="createAccButton">
		</div>
	</div>	 
	</body>
</html>