<!DOCTYPE html>

<html>

<head>

<link href="..//css/css_abtus_page2.css"; rel="stylesheet";>

</head>

<body>


<div class="full-screen">
		
		<img src="..//img/marspage2.png"> </img>
		
		
		<div class="center">
            <ul>
                <li><a href="start_page.html">Home</a></li>
                <li><a href="create_account.html"> Create Account </a></li>
                <li><a href="loginpage.html"> Login </a></li>
                <li><a href="Project About Us Page 2.html"> Mission Requirements </a></li>
                <li><a href="Project About us Page 3.html"> Stat Info </a></li>
                <li><a href="videopage.html"> Videos </a></li>
                <li><a href="Project About us Page 1.html"> About Us </a></li>
                <li><a href="Project About Us Page 4.html"> Contact </a></li>
				<li><a href ="application_1.html"> Application </a></li>


            </ul>
			<br>
		</div>
 
<h1 id="requirements" style="color:orange"> Mission Requirements: </h1>

        <p>  At Mission: MARS, our mission is to bring people to our closest neighbor in the solar system, and to begin a colony on Mars.<br> Our main focus is the trip and preparation of our astronauts for the trip, 
		as well as the training required beforehand. <br> Below are some requirements for being a part of the crew, or to be a passenger.<p>
		
		<div id="pilot">
		<h3> To be a shuttle Pilot: </h3>
		<ul> 
			<li> Must be over 25</li>
			<li> Must weigh under 220 lbs </li>
			<li> Must not have any preexisting conditions (Athsma, heart conditions, etc.) </li>
			<li> Must have and present proof of prior flight experience (Military, professional, etc.) </li>
			<li> Must pass astronaut piloting simulator exam</li>
			</li>
		</ul>
		</div>
		
		
		<div class="passenger">
		<h3> To Qualify as a passenger: </h3>
		<ul> 
			<li> Must be over 18
			<li> Must weigh under 220 lbs </li>
			<li> Must not have any preexisting conditions (Athsma, heart conditions, etc.) </li>
			<li> Must pass multiple medical tests for any viruses/diseases; these have the potential to be passed to the crew or other passengers </li>
			</li>
		</ul>
		</div>
		
		<h3> Required Subjects: </h2>
		<h4> Passengers and Crew will be required to test well in the following skills in order to participate as well:</h4>
		
		<ol type="I">
			<li> Physics </li>	
			<li> Advanced Mathematics </li>
			<li> Intense Problem Solving/Critical Thinking </li>
		</ol>
		<br>
		

</body>			
			
</html>		
		