<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link href="../css/css_start_page.css" ; rel="stylesheet" ;>

</head>

<body>

    <div class="full-screen">

        <video src="..//img/mars_background.mp4" autoplay muted loop></video>

        <div class="center">
            <ul>
                <li><a href="start_page.html">Home</a></li>
                <li><a href="create_account.html"> Create Account </a></li>
                <li><a href="loginpage.html"> Login </a></li>
                <li><a href="Project About Us Page 2.html"> Mission Requirements </a></li>
                <li><a href="Project About us Page 3.html"> Stat Info </a></li>
                <li><a href="videopage.html"> Videos </a></li>
                <li><a href="Project About us Page 1.html"> About Us </a></li>
                <li><a href="Project About Us Page 4.html"> Contact </a></li>
                <li><a href ="application_1.html"> Application </a></li>


            </ul>
        </div>

        <h1 class="mars"> MARS </h1>
        <h1> SPACE MISSION</h1><br>


        <p> Want to travel to Mars? You came to the right place! <br> Apply for a once in a lifetime oppurtunity here!
            Login or create an account to get started. </p>
        <br> <br>

        <div class="center">

            <a href="create_account.html" class="createAccButton"> Create Account </a>
            &nbsp;
            &nbsp;
            &nbsp;
            <a href="loginpage.html" class="loginButton"> Login </a>

        </div>

    </div>
</body>

</html>