<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="..//css/css_thank_you_page.css" rel="stylesheet">
    <title>Thank You</title>
</head>

<body>
    <div class="bkg">

        <div class="center">
            <ul>
                <li><a href="start_page.html">Home</a></li>
                <li><a href="create_account.html"> Create Account </a></li>
                <li><a href="loginpage.html"> Login </a></li>
                <li><a href="Project About Us Page 2.html"> Mission Requirements </a></li>
                <li><a href="Project About us Page 3.html"> Stat Info </a></li>
                <li><a href="videopage.html"> Videos </a></li>
                <li><a href="Project About us Page 1.html"> About Us </a></li>
                <li><a href="Project About Us Page 4.html"> Contact </a></li>
                <li><a href ="application_1.html"> Application </a></li>


            </ul>
        </div>

        <div class="box">
            <h2> Thank you for application and continued support. Your application is your one step further to Mars.
            </h2>
            <h3> A confirmation email has been sent to your email address. We will reach back to you via email or phone
                number
                to update you on the status of your application. </h3>
            <p> We thank you for your interest!</p>


            <div class="form">
                <form action="start_page.html">

                    <input type="submit" value="Back to home"> <br>
                    <br>

                </form>
                <form action="Project About us Page 1.html">
                    <input type="submit" value="About us"><br>
                </form>
            </div>

        </div>
    </div>

</body>

</html>