<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="..//css/css_video_page.css" ; rel="stylesheet">
	<title> Videos </title>
</head>

<body>
	<div class="bkg">
		<div class="center">
			<ul>
				<li><a href="start_page.html">Home</a></li>
				<li><a href="create_account.html"> Create Account </a></li>
				<li><a href="loginpage.html"> Login </a></li>
				<li><a href="Project About Us Page 2.html"> Mission Requirements </a></li>
				<li><a href="Project About us Page 3.html"> Stat Info </a></li>
				<li><a href="videopage.html"> Videos </a></li>
				<li><a href="Project About us Page 1.html"> About Us </a></li>
				<li><a href="Project About Us Page 4.html"> Contact </a></li>
				<li><a href ="application_1.html"> Application </a></li>

			</ul>
		</div>

		<h1> MARS Videos </h1>
		<div class="content">
			<div class="vid1">
				<p>SpaceX's Starship: Journey to Mars</p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/-kU6fMGh4l4"
					title="SpaceX's Starship journey">
				</iframe>
			</div>
			<div class="vid2">
				<p>The First 10,000 Days On Mars</p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/G3hPH_bc0Ww"
					title="First 10,000 days on Mars">
				</iframe>
			</div>
		</div>
	</div>
</body>

</html>