*{
    font-family: "Tenika", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

@font-face {
    font-family: 'Ailerons'; 
    src: url("..//fonts/Ailerons.otf");
}

@font-face{
    font-family: 'Voltage';
    src: url(..//fonts/Voltage-Regular.otf)
}

@font-face{
    font-family:'Tenika';
    src: url(..//fonts/Tenika.ttf)
}

body{
    background-color: black;
}

.full-screen video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
 }

 /* flips video*/
 video{
    transform: rotateY(180deg);
 }

ul{
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    border: 3px solid black;
    background-color: rgba(41, 4, 4, 0.349);
    align-content: center;

}

li a{
    font-family: "Voltage", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 1px;
    color:rgb(255, 255, 255);
    text-align: center;
    text-shadow: black 5px 5px 10px;
}
li a:hover{
    background-color: gray;
}

li{
    display: inline;
    border-collapse: collapse;
    padding: 10px;
}

.center{
    text-align: center;
}

.box{
    background: rgb(47, 53, 66, 0.35);
    border: solid white 3px;
    border-radius: 45px;
    width: 400px;
    padding: 40px;
    position: absolute;
    text-align: left;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
}

.box h2{
    color: white;
    text-shadow: black 5px 5px 10px;
    padding: 2px;
    font-size: 35px;
    font-family: 'Tenika', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.box p{
    color:white;
    text-shadow: black 5px 5px 10px;
    padding: 2px;
    font-family: 'Tenika', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 30px;
}

.form input[type = "text"]{
    color:white;
    width:200px;
    background-color: black;
    padding: 10px;
    border-radius: 30px;
}

.form input[type = "password"]{
    color:white;
    width:200px;
    background-color: black;
    padding: 10px;
    border-radius: 30px;
}

.form input[type = "submit"]{
    color:black;
    width:150px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 30px;
}
